RewriteEngine On
RewriteBase /

# Do nothing
RewriteRule ^index\.php$ - [L]

# Redirect if no exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRUle . /index.php [R]