html {
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
}

header {
	padding: 20;
	background-color: lightblue;
}
footer {
	padding: 20;
	background-color: lightblue;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
}

a {
	margin: 5;
}

p {
	margin: 10;
}